<style>
  .img { width: 1500px
  }

</style>

<h1> <%= @loser %>, you lose! </h1>

<p> <img src="https://s-media-cache-ak0.pinimg.com/736x/f1/0e/58/f10e58a8b7fb59b9577be8d6696471a9--crying-face-open-book.jpg" class="img" />
</p>
